<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>{{#title}}{{ title }} - {{/title}}a glob of nerdishness</title>
</head>
<body>

<header>
<img src="../../logo.png">
<h1>a glob of nerdishness</h1>
Powered by work over time.
<p>
Written by <a href="http://twitter.com/natevw">@natevw</a>, who is interested in things.
</header>

{{# post }}
<article>
<header>
<h1>{{#url}}<a href="{{ url }}" rel="bookmark">{{ title }}</a>{{/url}}{{^url}}{{ title }}{{/url}}</h1>
<date datetime="{{ published }}" pubdate>{{ published_human }}</date>
</header>

{{{ html_content }}}

{{> comments }}
</article>
{{/ post }}

<footer>
<small>Copyright © 2007–2011 Nathan Vander Wilt. All rights reserved. Limit one offer per coupon.</small>
</footer>

</body>
</html>